
body {
    background: #ffd;
}

#header-container {
    width:100%;
    position:fixed;
    top:0;
    margin: 0;
}

.header
{
	margin: 0;
	width: 100%;
	background: #ff0;
}

.header h1
{ 
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size:75px;
	padding-bottom: 10px;
}

.header #sprung {
	text-align: center;
	color: #000;
	background: #ff0;
}

.header #canary {
	text-align: center;
	color: #ff0;
	background: #000;
}

.navigation
{
    background: #000;
	float: left;
	width: 100%;
	/*border-top: 1px solid #ff0;*/
}

.navigation ul
{
	margin: 0;
    padding-right: 15px;
}

.navigation ul li
{
	list-style-type: none;
	display: inline;
}

.navigation li a
{
	display: block;
	float: right;
	padding: 5px 10px;
	color: #ffd;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-style:normal;
    font-weight: bold;
	font-size:12px;
	border-left: 2px solid #ffd;
}

.navigation li a:hover
{
	background: #ffd;
	color:#000
}

.content-container
{
	float: left;
	width: 100%;
	color: #000;
	background: #ffd;
    margin-top: 110px;
}

.content-container2
{
	margin: 0 auto;
	width: 900px;
}

.content-container3
{
	float: left;
	width: 900px;
	background: #ffd;
}

.content
{
	clear: left;
	float: left;
	width: 560px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
	background: #ffd;
	font-family: Arial, Helvetica, sans-serif;
	font-style:normal;
}

.content h2 { margin: 0; }

.aside
{
	float: right;
	width: 240px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-style:normal;
}

.aside h3 { margin: 0; }

#footer-container
{
	clear: left;
	color: #fff;
	background: #000;
}

.footer
{
	margin: 0 auto;
	width: 900px;
	color: #ffd;
	text-align: right;
	padding: 20px;
	height: 1%;
	font-family: Arial, Helvetica, sans-serif;
	font-style:normal;
}