{:site-title           "Sprung Canary"
 :author               "Bret Young"
 :description          "Barely making it out alive"
 :site-url             "http://sprungcanary.net/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        "posts-output"
 :page-root-uri        "pages-output"
 :tag-root-uri         "tags-output"
 :author-root-uri      "authors-output"
 :public-dest          "public"
 :blog-prefix          ""
 :rss-name             "atom.xml"
 :rss-filters          ["clojure"]
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "nucleus-sg"
 :resources            ["img" "CNAME" "favicon.ico"]
 :keep-files           [".git"]
 ; put in post to turn on comments for it
 ;:disqus?              false
 :disqus-shortname     "sprungcanary"
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :previews?            true
 :posts-per-page       5
 :blocks-per-preview   2
 :clean-urls           :trailing-slash
 :collapse-subdirs?    false
 :hide-future-posts?   true
 :klipse               {}
 :debug?               false

 :github-url           "http://github.com/hby"
 :twitter-url          "http://twitter.com/hby"
 :lastfm-url           "https://www.last.fm/user/hbretyoung"}