<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-title">
      <h2 class="title">
        {{ site.title }}
      </h2>
      <p class="tagline">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      <p>
        <span class="sidebar-social-item">twitter:
          <!--<img height="20" width="20" src="{{site.baseurl}}public/images/twitter.svg">-->
          <a href="{{ site.twitter.url1 }}">{{site.twitter.name1}}</a>, <a href="{{ site.twitter.url2 }}">{{site.twitter.name2}}</a>
        </span>
        <span class="sidebar-social-item">github:
          <!--<img height="20" width="20" src="{{site.baseurl}}public/images/github.svg">-->
          <a href="{{ site.github.repo }}">hby</a>
        </span></p>

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"weight" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
    </nav>

    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
